---
title: skilled
description: Maximize skill,minimize budget
layout: layouts/base.njk
---
{% from 'macros/buttons.njk' import button %}

<header>
  <div class="container mx-auto max-w-[1110px] flex items-center justify-between pt-6">
    <img src="./img/logo-dark.svg" alt="Skilled Logo">
    {{button('Get Started', 'one')}}
  </div>
</header>

<main>

  <div class="hero px-4 mt-[38px] md:mt-[99px] max-w-[1110px] mx-auto">
    <div class="max-w-[398px] lg:max-w-[457px]">
      <h1 class="text-[40px]  leading-[50.4px] font-extrabold mb-[26px] text-black-500 lg:text-[56px] lg:leading-[70.56px]">Maximize skill, minimize budget</h1>
      <p class="text-base leading-[26px] mb-6 text-gray-500 lg:text-lg lg:leading-[28px]">Our modern courses across a range of in-demand skills will give you the knowledge you need to live the life you want.</p>
      {{button('Get Started', 'two')}}
    </div>
    <div>
      <img class="md:hidden" src="./img/image-hero-mobile.png" alt="">
    </div>

  </div>

</main>

<footer></footer>